Source: hs-keyring
Section: admin
Priority: optional
Maintainer: HostingStack Maintainers <maintainers@hostingstack.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.2

Package: hs-keyring
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: HostingStack Archive Signing Keys
 HostingStack Archive Signing Keys
