#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

DESTPATH=debian/hs-keyring/usr/share/keyring/

override_dh_auto_install:
	install -d $(DESTPATH)
	install -m 0644 hs-keyring.gpg $(DESTPATH)/

%:
	dh $@

